html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px dashed black;
}

* {
  outline: 0;
}

.reset {
  background: red;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-family: fantasy;
  cursor: pointer;
  box-shadow: 0 5px rgb(138, 2, 2);
}

.greet {
  background: linear-gradient(to bottom left, rgb(255, 136, 0), red);
  -webkit-background-clip: text;
  color: transparent;
  font-family: greet;
  font-size: 90px;
  font-weight: lighter;
  pointer-events: none;
}

.title {
  color: rgb(255, 174, 0);
  font-size: 108px;
  font-family: myFont;
  pointer-events: none;
}

@font-face {
  font-family: myFont;
  src: url('fonts/pdark.ttf');
}

@font-face {
  font-family: greet;
  src: url('fonts/greet.ttf');
}

.input {
  width: 350px;
  height: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.548);
  font-family: 'Gill Sans MT';
  font-size: 36px;
  color: rgb(1, 164, 214)
}

.play {
  background: rgb(255, 0, 106);
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-size: 22px;
  font-family: fantasy;
  cursor: pointer;
}